{% extends 'base.html' %}
{% block cont %}
<div class="card" style="margin-left: 20px; margin-right: 20px; white-space: nowrap; overflow: auto; ">
    <div class="card-header">
    <span id="join_chat_room">Click Me to Join the Chat Room</span>
    </div>
    <div>
        <div class="card-body" style="overflow-y: auto; min-height:600px; max-height: 600px; display: inline-block; width:80%;" id="message_display">

        </div>
        <div class="card-body" style="overflow-y: auto; overflow-x: scroll; height:600px; width: 20%; background-color: #d3d3d3; display: inline-block; " id="online_users">
            Online User
        </div>
    </div>
</div>
<div class="container-fluid" style="text-align: center;">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2" style="margin-top: 10px;" id="input-area">
            <input type="text" class="form-control" id="msg_bar" name="msg_bar" placeholder="type here" style="width: 1000px;">
        </div>
        <button type="button" class="btn btn-success" id="send_button">Send</button>
    </form>
</div>
<script src="{{ url_for('static', filename='socketio.js' ) }}"></script>
<script type="text/javascript">
    const username = `{{ username }}`;
    document.getElementById('msg_bar').onkeydown = function(e){
        if(e.keyCode == 13){
            e.preventDefault();
            document.querySelector('#send_button').click();
        }
    }
</script>
{% endblock %}